/* LoginSignup.css */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: white
}    



.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    padding: 10px;
        
    margin-top: 100px;

  
    

    
}
input{
    margin: 5px 3px;
    padding: 10px;
    border-radius: 17px;
    border: 1px  solid gray;
    font-size: 15px;
    outline: none;
    box-shadow: 2px 2px 5px rgb(200, 200, 200);

}
input:focus{
    border: 2px solid gray;
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}
button{
    margin: 10px 3px;
    padding: 10px;
    border-radius: 17px;
    border: none;
    font-size: 15px;
    background-color: gray;
    color: rgb(253, 251, 251);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(100, 100, 100);
}
button:hover{
    background-color: darkgray;
    box-shadow: 3px 3px 5px rgb(50, 50, 50);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
h1{
    text-align: center;
    color: rgba(209, 160, 158, 0.466);
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    padding-top: 40px;
    font-size: 45px;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(150, 150, 150);
    



}
